description = "Footer"
==
<!-- <script src="{{ [
        'assets/js/jquery-3.1.1.min.js',
        'assets/js/popper.min.js',
        'assets/js/bootstrap.min.js',
        'assets/js/mdb.min.js'
    ]|theme }}"></script> -->

    <script type="text/javascript" src="{{ asset('/themes/zanor-mdbv4/assets/js/jquery-3.1.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('/themes/zanor-mdbv4/assets/js/popper.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('/themes/zanor-mdbv4/assets/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('/themes/zanor-mdbv4/assets/js/mdb.min.js') }}"></script>

    <!-- {% framework extras %}
    {% scripts %} -->

</body>
</html>